<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="categories && categories.length">{{categories[0].categoryName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides #navbar class="navbar" *ngIf="categoriesList && categoriesList.length"
    freeMode="true"
    slidesPerView="3"
    spaceBetween="0"
    pager="false"
    (ionSlideWillChange)="onSlideWillChange($event)"
    (ionSlideDidChange)="onSlideDidChange($event)"
    (ionSlideDrag)="onSlideDrag($event)">
    <ion-slide class="swiper-slide" *ngFor="let cat of categoriesList" (click)="goToCategory(news)">
      <p class="slide-title" [innerHTML]="cat.name"></p>
    </ion-slide>
  </ion-slides>

  <ion-slides class="slides-news" *ngIf="catSlides && catSlides.length"
    autoplay="5000"
    loop="true"
    speed="1000"
    pager="false"
    >
    <ion-slide *ngFor="let news of catSlides" class="slide-news" (click)="goToCategory(news)">
      <img src="http://www.chinapost.com.tw/news_images/20170920/viewpoint.jpg">
      <div class="slide-info">
        <h2 class="slide-title" [innerHTML]="news.title"></h2>
        <p>{{news.categoryName}} - {{news.createdAt}}</p>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-list *ngIf="categories && categories.length">
    <ion-item *ngFor="let news of categories" (click)="goToCategory(news)">
        <ion-thumbnail item-start>
          <img src="{{news.image}}">
        </ion-thumbnail>
        <h2 [innerHTML]="news.title"></h2>
        <p>{{news.categoryName}}</p>
        <p>{{news.createdAt}}</p>
        <button ion-button clear item-end>more</button>
    </ion-item>
  </ion-list>
  <div text-center>
    <button ion-button outline>Next Page</button>
  </div>

  <ion-list-header [hidden]="hasNews">
    Nothing You Can See. ;(
  </ion-list-header>
</ion-content>