ion-list.list {
  margin-bottom: 0;
}
.navbar {
  height: auto;
  margin: 0;
  position: fixed;
  z-index: 1;
  background: #111;
  padding-left: 10px;
  p {
    margin: 0;
    color: #fff;
  }
  .swiper-slide {
    background: #111;
  }
  .swiper-wrapper {
    height: auto;
  }
}

.slides-news {
  margin-top: 45px;
  height: auto;
}
.slide-news {
  height: 270px;
  position: relative;
  img {
    width: 100%;
  }
  .slide-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    p, .slide-title {
      margin-top: 5px;
      color: #fff;
      font-weight: bold;
    }
    p {
      font-size: 14px;
    }
  }
}